# ------------------------------------
# 1. Django / Python - Общие исключения
# ------------------------------------
# Виртуальное окружение
.venv
venv/
env/
/bin/

# Скомпилированные файлы Python
*.pyc
__pycache__/

# Log files
*.log
celerybeat.pid

# SQLite database (важно, чтобы не попал в Git)
*.sqlite3
/db.sqlite3

# Статические файлы (собираются командой collectstatic)
/staticfiles/

# ------------------------------------
# 2. Медиа и Парсинг - Специальные исключения
# ------------------------------------
# Папка для локальных медиафайлов (для локальной разработки)
# ИЛИ папка для Render Disk (на Render это будет внешний диск)
/media/

# Локальные файлы, которые могут генерироваться парсером (если ты их не убрал)
/downloads/

# ------------------------------------
# 3. Секреты и Переменные окружения
# ------------------------------------
# Файл с переменными окружения (ключи, пароли, API-ключи)
.env

# ------------------------------------
# 4. IDE (Интегрированные среды разработки)
# ------------------------------------
# Visual Studio Code
.vscode/

# PyCharm/IntelliJ
.idea/

# macOS / Windows (Системные файлы)
.DS_Store
Thumbs.db